<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>留言板</title>
  </head>
  <body>
    <h1>發表一篇圖文</h1>
    <form method="post" action="/addMessage" enctype="multipart/form-data">
      文字內容<input
        type="text"
        name="message"
        placeholder="選擇一張圖片後送出"
      />
      <br />
      <input type="file" name="image" accept="image/*" />
      <br />
      <button type="submit">新增留言</button>
    </form>
    <h2>留言列表</h2>
    <ul>
      <!-- 顯示所有留言 -->
      <% for (const message of messages) { %>
      <li>
        <!-- 顯示留言 -->
        <p><%= message.message %></p>

        <!-- 檢查是否有圖片，有就插入 -->
        <% if (message.imageLink) { %>
        <img src="<%= message.imageLink %>" alt="留言圖片" />
        <% } %>
      </li>
      <hr />
      <% } %>
    </ul>
  </body>
</html>
